mixin nav(items, cl='') 
    - var cl = cl || ""
    nav
        ul 
            each val, key in items
                li
                    if !cl == ""
                        a(class=cl, href=val)= key
                    else 
                        a(href=val)= key

mixin list(items)
    ul 
        each val in items
            li= val

mixin icon(name, cl, type='svg')
    - var cl = cl || ""
    if cl == ""
        img(class=`icon`, src=`img/icons/${name}.${type}`, alt="", width='16', draggable='false')
    else
        img(class=`icon ${cl}`, src=`img/icons/${name}.${type}`, alt="", width='16', draggable='false')